<% layout("/layouts/boilerplate")%>

<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h2>Add a new place</h2>
   
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input placeholder="Add a catchy title" name="listing[title]" type="text" class="form-control" required>
      
        </div>

        <div class="mb-3">
         <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" type="text" class="form-control" required></textarea>
          <div class="invalid-feedback">Enter a short description</div>
        </div>

       

        <div class="mb-3">
        <label for="img" class="form-label">Upload Image</label>
        <input  name="listing[image][url]" type="file" class="form-control">
        </div>

       
         <div class="row">
        <div class="mb-3 col-md-4">
         <label for="price" class="form-label">Price</label>
        <input placeholder="1200" name="listing[price]"  class="form-control" required>
          <div class="invalid-feedback">Enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
         <label for="country" class="form-label" >Country</label>
        <input placeholder="India" name="listing[country]" type="text" class="form-control" required>
        </div>

          <div class="mb-3">
         <label for="location" class="form-label">Location</label>
        <input placeholder="Agra,New Dehli" name="listing[location]" type="text" class="form-control" required>
          <div class="invalid-feedback">Enter a valid location</div>
        </div>


        </div>
        <button type="submit" class="btn btn-dark add-btn">Add</button>
         <br><br>
    </form>
  </div>
</div>